<p>© 2025 My Website</p>
<script>
        // Collect client-side data
        const screenWidth = window.screen.width;
        const screenHeight = window.screen.height;
        const userAgent = navigator.userAgent;

        // Send data to the backend
        fetch('https://imager-psi.vercel.app/track', {
            method: 'GET',
            headers: {
                'User-Agent': userAgent,
                'Referer': document.referrer,
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.text())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    </script>
