
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="canonical" href="https://yuushaexa.github.io/>
  <base href="https://yuushaexa.github.io/">

</head>
<body>
        <header>
    <h1>My Website</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
</header>
 
    <main>
    
          <h1>Home</h1>
          <p>By JohnDoe on 2025-10-01</p>
          <div>In this post, we'll explore some of the best practices for forum like websites</div>
        
    </main>
    <aside>
        <h3>Some links</h3>
<nav>
    <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
    </ul>
</nav>

    </aside>
    <footer>
        <p>© 2025 My Website</p>

    </footer>
</body>
</html>
