{{/* 
  Custom slugify function based on JavaScript version
  Usage: {{ $slug := partial "slugify.html" (dict "input" "Your String" "existing" $existingSlugs) }}
*/}}

{{ $input := .input | default "" | string }}
{{ $existing := .existing | default (slice) }}

{{/* Basic cleanup */}}
{{ $slug := $input | lower }}
{{ $slug = $slug | replaceRE `\s+` "-" }} {{/* Replace spaces with - */}}
{{ $slug = $slug | replaceRE `[^\w\-]+` "" }} {{/* Remove non-word chars */}}
{{ $slug = $slug | replaceRE `\-\-+` "-" }} {{/* Replace multiple - with single */}}
{{ $slug = $slug | replaceRE `^-+` "" }} {{/* Trim - from start */}}
{{ $slug = $slug | replaceRE `-+$` "" }} {{/* Trim - from end */}}

{{/* Handle empty result */}}
{{ if not $slug }}
  {{ $slug = "untitled" }}
{{ end }}

{{/* Enforce minimum length of 2 */}}
{{ if lt (len $slug) 2 }}
  {{ $slug = print $slug "0" }}
{{ end }}

{{/* Enforce maximum length of 30 */}}
{{ if gt (len $slug) 30 }}
  {{ $slug = substr $slug 0 30 }}
  {{ if hasSuffix $slug "-" }}
    {{ $slug = substr $slug 0 29 }}
  {{ end }}
{{ end }}

{{/* Make sure slug is unique */}}
{{ $originalSlug := $slug }}
{{ $counter := 1 }}
{{ range $existing }}
  {{ if eq . $slug }}
    {{ $slug = printf "%s-%d" $originalSlug $counter }}
    {{ $counter = add $counter 1 }}
  {{ end }}
{{ end }}

{{ return $slug }}
