{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
{{ $current := $pag.PageNumber }}
<nav class="pagination" aria-label="Pagination">
  <ul class="pagination-list">
    <!-- First Page Link -->
    <li>
      <a href="{{ $pag.First.URL }}" class="pagination-link" {{ if eq $current 1 }}disabled{{ end }} aria-label="First">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </a>
    </li>
    
    <!-- Previous Page Link -->
    <li>
      <a href="{{ if ne $current 1 }}{{ $pag.Prev.URL }}{{ end }}" class="pagination-link" {{ if eq $current 1 }}disabled{{ end }} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <!-- Dynamic Page Numbers with Smart Ellipsis -->
    {{ $maxVisible := 5 }}
    {{ $halfVisible := div $maxVisible 2 }}
    {{ $start := sub $current $halfVisible }}
    {{ $start := cond (lt $start 1) 1 $start }}
    {{ $end := add $start $maxVisible }}
    {{ $end := cond (gt $end $pag.TotalPages) $pag.TotalPages $end }}
    {{ $start := sub $end $maxVisible }}
    {{ $start := cond (lt $start 1) 1 $start }}

    {{ if gt $start 1 }}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
    {{ end }}

    {{ range $i := seq $start $end }}
      <li>
        <a href="{{ (index $pag.Pagers (sub $i 1)).URL }}" class="pagination-link {{ if eq $i $current }}is-current{{ end }}">
          {{ $i }}
        </a>
      </li>
    {{ end }}

    {{ if lt $end $pag.TotalPages }}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
    {{ end }}

    <!-- Next Page Link -->
    <li>
      <a href="{{ if ne $current $pag.TotalPages }}{{ $pag.Next.URL }}{{ end }}" class="pagination-link" {{ if eq $current $pag.TotalPages }}disabled{{ end }} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

    <!-- Last Page Link -->
    <li>
      <a href="{{ $pag.Last.URL }}" class="pagination-link" {{ if eq $current $pag.TotalPages }}disabled{{ end }} aria-label="Last">
        <span aria-hidden="true">&raquo;&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{{ end }}
