{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<div>
				{{ .Content }}
			</div>
			       <div class="card-image">
          <img src="{{ .Params.image }}" alt="{{ .LinkTitle }}"/>
          </div>
			
			<div class="genres-section">
				<h2>Genres</h2>
				<div class="genre-tags">
					{{ range .Params.genres }}
    <a href="{{ "genres/" | relURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</div>
			</div>
<div class="studios">
 {{ range .Params.studios }}
    <a href="{{ "studios/" | relURL }}{{ . | urlize }}" class="tag">{{ . }}</a>
  {{ end }}
</div>
<pre>All Params: {{ .Params | jsonify (dict "indent" "  ") }}</pre>
		</article>
	</main>
{{ end }}
