{{/* related-posts.html */}}
{{ $currentID := .Params.id }}
{{ $currentTitle := .Title }}
{{ $pages := .Site.Pages }}

{{ if $currentID }}
    {{ $readPages := where $pages "Section" "read" }}
    {{ $related := where $readPages "Params.id" "==" $currentID }}
    {{ $related = $related | intersect (where $readPages "Title" "!=" $currentTitle) }}
    
    {{ $sortedRelated := slice }}
    {{ range $related }}
        {{ $urlParts := split .RelPermalink "/" }}
        {{ $lastPart := index $urlParts (sub (len $urlParts) 2) }}
        {{ $num := int $lastPart }}
        {{ $sortedRelated = $sortedRelated | append (dict "Page" . "Num" $num) }}
    {{ end }}
    
    {{ $sortedRelated = sort $sortedRelated "Num" }}
    
    {{ if gt (len $sortedRelated) 0 }}
        <div class="related-posts">
            <h2>Related Posts</h2>
            <ul>
                {{ range $sortedRelated }}
                    <li>
                        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
{{ end }}
