{{/* related-posts.html */}}
{{ with .Params.id }}
    {{ $related := where (where site.Pages "Section" "read") "Params.id" "==" . }}
    {{ $related = where $related "Title" "!=" .Title }}
    
    {{ with $related }}
        <div class="related-posts">
            <h2>Related Posts</h2>
            <ul>
                {{ range sort . "RelPermalink" }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
{{ end }}
