{{/* 
  Custom slugify function that accepts string input directly
  Usage: {{ $slug := partial "slugify.html" "Your String" }}
*/}}

{{ $input := . | default "" | string }}

{{/* Basic cleanup */}}
{{ $slug := $input | lower }}
{{ $slug = $slug | replaceRE `\s+` "-" }}
{{ $slug = $slug | replaceRE `[^\w\-]+` "" }}
{{ $slug = $slug | replaceRE `\-\-+` "-" }}
{{ $slug = $slug | replaceRE `^-+` "" }}
{{ $slug = $slug | replaceRE `-+$` "" }}

{{/* Handle empty result */}}
{{ if not $slug }}
  {{ $slug = "untitled" }}
{{ end }}

{{/* Enforce minimum length of 2 */}}
{{ if lt (len $slug) 2 }}
  {{ $slug = print $slug "0" }}
{{ end }}

{{/* Enforce maximum length of 30 */}}
{{ if gt (len $slug) 30 }}
  {{ $slug = substr $slug 0 30 }}
  {{ if hasSuffix $slug "-" }}
    {{ $slug = substr $slug 0 29 }}
  {{ end }}
{{ end }}

{{ return $slug }}
